@tailwind base;
@tailwind components;
@tailwind utilities;


.header-banner {
  background-color: hsl(0, 0%, 85%);
  padding: 12px;
  display: flex;
  justify-content: center;
}

.header-menu {
  margin-bottom: 10px;
  display: flex;
  padding: 12px;
  justify-content: space-around;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.header-container {
  width: 100%;
  display: flex;
  
  justify-content: space-around;
}

.header-container-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link {
  margin: 10px;
  background-color: white;
  color: black;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.footer-box {
  padding-top: 5px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 -5px 5px -5px #7b7b7b;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.sidebar {
  height: 1000px;
  max-width: 250px;
  width: 100%;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.shop {
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.shopname {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.sidebar-list {
  height: auto;
  width: 100%;
}

.row {
  width: 80%;
  border-bottom: #293846 solid 0.1px;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.row-last {
  width: 80%;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.sidebar .row:hover {
  cursor: pointer;
  background-color: #dcdcdc;
}

.row-last:hover {
  cursor: pointer;
  background-color: #dcdcdc;
}

.row-last #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row-last #title {
  flex: 70%;
  margin-left: 10px;
}

.row-last #icon {
  flex: 5%;
}

.row #icon {
  flex: 5%;
  display: grid;
  place-items: center;
}

.sidebar-icon {
  flex: 5%;
  display: grid;
  place-items: center;
}

.sidebar-title {
  flex: 70%;
  margin-left: 10px;
}


.row #title {
  flex: 70%;
  margin-left: 10px;
}

.shopTitle {
  margin-top: 100px;
  margin-bottom: 40px ;
  text-align: center;
  font-size: 40px;
}

.product {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.product-img {
  margin-top: 110px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: hsl(0, 0%, 85%);
  color: white;
  width: 100%;
  max-width: 200px;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.cart-field {
  display: flex;
  justify-content: space-around;

}

.cart-input {
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  padding-left: 5px;
  border: black solid 0.5px;
  border-radius: 5px;

}

.cart-btn {
  background-color: hsl(0, 0%, 85%);
  color: white;
  width: 80%;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-btn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-page{
  margin: 25px;
  display: flex;
  flex-direction: row;
}

.product-img{
  margin-left: 100px;
  margin-right: 50px;
  width: 500px;
}
.product-desc{
  margin-top: 100px;
  margin-left: 50px;
  font-size: 30px;
  
}

.product-desc p{
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 20px;
}

